@import "tailwindcss";

@theme {
    --color-main-bg: #01050B;
    --color-primary: #2CBF9D;
    --color-secondary: #423F77;
    --color-gray: #DEE2E6
}

body {
    background-color: var(--color-main-bg);
    color: white;
}