@import "tailwindcss";

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url("./fonts/roboto/Roboto-Thin.ttf") format("ttf");
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("./fonts/roboto/Roboto-ExtraLight.ttf") format("ttf");
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("./fonts/roboto/Roboto-Light.ttf") format("ttf");
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/roboto/Roboto-Regular.ttf") format("ttf");
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("./fonts/roboto/Roboto-Medium.ttf") format("ttf");
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("./fonts/roboto/Roboto-SemiBold.ttf") format("ttf");
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("./fonts/roboto/Roboto-Bold.ttf") format("ttf");
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("./fonts/roboto/Roboto-ExtraBold.ttf") format("ttf");
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("./fonts/roboto/Roboto-Black.ttf") format("ttf");
}

@theme {
    --color-main-bg: #01050B;
    --color-primary: #2CBF9D;
    --color-secondary: #423F77;
    --color-gray: #DEE2E6;
    --color-gray-light: #CED4DA;
    --font-roboto: "Roboto", sans-serif;

    --animate-fadeinup: fadeinup 0.35s ease-in-out;

    @keyframes fadeinup {
        0% {
            opacity: 0;
            transform: translateY(30px);
        }

        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    --animate-slidein: slidein 0.3s ease-in-out 200ms forwards;

    @keyframes slidein {
        0% {
            opacity: 0;
            transform: translateX(100%);
            animation: name duration timing-function delay iteration-count direction fill-mode;
        }

        100% {
            opacity: 1;
            transform: translateX(0%);
        }
    }
}

body {
    background-color: var(--color-main-bg);
    color: white;
    font-family: var(--font-roboto);
}